@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

* {
	scroll-behavior: smooth;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

html,
body {
	box-sizing: border-box;
	font-family: 'Roboto Mono', monospace;
}

.link {
	@apply text-indigo-700 dark:text-indigo-500;
}

.hover110 {
	@apply sm:hover:scale-110 transition-all duration-300;
}

.hover105 {
	@apply sm:hover:scale-105 transition-all duration-300;
}

.skillCard {
	@apply dark:bg-black/70 bg-white/75 shadow-lg dark:shadow-white/10 p-2 m-auto flex flex-col justify-center items-center min-w-[300px] w-[30vw] max-w-[70vw] min-h-[144px] h-[20vh] border border-black dark:border-white rounded-sm;
}

.portfolioCard {
	@apply relative min-w-[144px] min-h-[81px] w-[70vw] sm:w-[20vw] aspect-video dark:bg-white bg-black rounded-sm border border-black dark:border-white;
}

.pText {
	@apply leading-8 sm:px-16 lg:px-40;
}

.tags {
}

.astronaut {
	animation: astronaut 20s cubic-bezier(0.33, 0, 0.67, 0.99) infinite alternate;
}

.floating-0 {
	transform-origin: center center;
	animation: floating 20s ease-in-out infinite alternate;
}

.floating-1 {
	transform-origin: center center;
	animation: floating 21s ease-in-out infinite alternate;
}

.floating-2 {
	transform-origin: center center;
	animation: floating 22s ease-in-out infinite alternate;
}

.floating-3 {
	transform-origin: center center;
	animation: floating2 20s ease-in-out infinite alternate;
}

.blackStar {
	background-image: url('../public/BlackStars.gif');
	background-attachment: fixed;
}

.whiteStar {
	background-image: url('../public/whiteStars.gif');
	background-attachment: fixed;
}

@keyframes astronaut {
	0% {
		transform: rotate(6deg) translate(0.5vw, 3vh);
	}
	100% {
		transform: rotate(0deg) translate(-0.5vw, -2vh);
	}
}

@keyframes floating {
	0% {
		transform: rotate(1deg) translate(0vw, -0.7vh) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
	}
	25% {
		transform: rotate(0deg) translate(0vw, 0.45vh) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
	}
	50% {
		transform: rotate(-1deg) translate(0vw, -0.5vh) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
	}
	75% {
		transform: rotate(-0.2deg) translate(0vw, 0.35vh) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
	}
	100% {
		transform: rotate(0.6deg) translate(0vw, -0.6vh) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
	}
}

@keyframes floating2 {
	0% {
		transform: rotate(0deg) translate(-5px, -0.7vh) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
	}
	25% {
		transform: rotate(0deg) translate(-5px, 0.45vh) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
	}
	50% {
		transform: rotate(0deg) translate(-5px, -0.5vh) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
	}
	75% {
		transform: rotate(0deg) translate(-5px, 0.35vh) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
	}
	100% {
		transform: rotate(0deg) translate(-5px, -0.6vh) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
	}
}
