@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

* {
	scroll-behavior: smooth;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	box-sizing: border-box;
	font-family: 'Roboto Mono', monospace;
}

.astronaut {
	animation: astronaut 20s cubic-bezier(0.33, 0, 0.67, 0.99) infinite alternate;
}

.floating {
	transform-origin: center center;
	animation: floating 20s ease-in-out infinite alternate;
}

.floating-1 {
	transform-origin: center center;
	animation: floating 21s ease-in-out infinite alternate;
}

.floating-2 {
	transform-origin: center center;
	animation: floating 22s ease-in-out infinite alternate;
}

.blackStar {
	background-image: url('../public/BlackStars.gif');
}

.whiteStar {
	background-image: url('../public/whiteStars.gif');
}

@keyframes astronaut {
	0% {
		transform: rotate(6deg) translate(0.5vw, 3vh);
	}
	100% {
		transform: rotate(0deg) translate(-0.5vw, -2vh);
	}
}

@keyframes floating {
	0% {
		transform: rotate(1deg) translate(0vw, -0.7vh);
	}
	25% {
		transform: rotate(0deg) translate(0vw, 0.45vh);
	}
	50% {
		transform: rotate(-1deg) translate(0vw, -0.5vh);
	}
	75% {
		transform: rotate(-0.2deg) translate(0vw, 0.35vh);
	}
	100% {
		transform: rotate(0.6deg) translate(0vw, -0.6vh);
	}
}
