@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'RALEWAY';
  src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
}

* {
  scroll-behavior: smooth;
}

@layer components {
  .header-text {
    @apply text-[#36f1cd] text-3xl sm:text-4xl font-bold relative;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .header-link {
    @apply text-[#f8f8f8] text-xl font-bold relative hover:text-[#36f1cd];
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .header-link-mobile {
    @apply text-[#f8f8f8] text-4xl font-bold relative hover:text-[#36f1cd];
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .headerIcon {
    @apply h-8 w-8 text-[#36f1cd];
  }

  .arrow-middle {
    left: 50%;
    transform: translateX(-50%);
  }
}